@font-face {
  font-family: "Neue Round";
  src: url("../../static/light.woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Neue Round";
  src: url("../../static/medium.woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Neue Round";
  src: url("../../static/bold.woff2");
  font-weight: 700;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-neue text-gray-600;
  }

  h1 {
    @apply text-gray-900 text-3xl font-semibold;
  }

  h2 {
    @apply text-gray-900 text-2xl font-bold;
  }

  h3 {
    @apply text-gray-900 text-xl font-bold;
  }

  h4 {
    @apply text-gray-800 text-lg font-bold;
  }

  h5 {
    @apply text-gray-700 text-base font-bold;
  }

  p {
    @apply text-gray-700 text-sm font-light;
  }
}

@layer utilities {
  .no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome, Edge, Opera and Firefox */
  }

  .truncate-fade {
    position: relative;
    height: 8.5rem;
  }
  .truncate-fade:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20%;
    height: 1.2em;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 1) 50%
    );
  }
}
