@font-face {
  font-family: "Noto Sans";
  src: url("../../static/notosans-regular.otf");
  font-weight: 500;
}

@font-face {
  font-family: "Noto Sans";
  src: url("../../static/notosans-medium.otf");
  font-weight: 700;
}

@font-face {
  font-family: "Noto Sans";
  src: url("../../static/notosans-bold.otf");
  font-weight: 900;
}

@font-face {
  font-family: "Nikkyo Sans";
  src: url("../../static/nikkyo-sans.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Baby";
  src: url("../../static/babymarker.ttf");
  font-weight: 500;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  body {
    @apply font-noto text-gray-600;
  }

  h1 {
    @apply text-gray-900 text-3xl font-semibold;
  }

  h2 {
    @apply text-gray-900 text-2xl font-bold;
  }

  h3 {
    @apply text-gray-900 text-xl font-bold;
  }

  h4 {
    @apply text-gray-800 text-lg font-bold;
  }

  h5 {
    @apply text-gray-700 text-base font-bold leading-7;
  }

  blockquote {
    font-size: 1.4em;
    width: 70%;
    margin: 50px auto;
    font-family: Open Sans;
    font-style: italic;
    color: #555555;
    padding: 1.2em 30px 1.2em 75px;
    line-height: 1.6;
    position: relative;

    @apply dark:bg-gray-700 border-l-8 dark:border-green-300 border-green-600;
  }

  blockquote p {
    @apply text-gray-700 text-base font-bold leading-7 font-noto dark:text-gray-200;
  }

  blockquote::before {
    font-family: Arial;
    content: "\201C";
    font-size: 4em;
    position: absolute;
    left: 10px;
    top: -10px;
    @apply dark:text-green-300 text-green-600;
  }

  blockquote::after {
    content: "";
  }

  blockquote span {
    display: block;
    color: #333333;
    font-style: normal;
    font-weight: bold;
    margin-top: 1em;
  }
}

@layer utilities {
  .search-placeholder {
    position: relative;
    left: 1px;
  }

  .no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome, Edge, Opera and Firefox */
  }

  .truncate-fade {
    position: relative;
  }
  .truncate-fade:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20%;
    height: 1.6em;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 1) 50%
    );
  }

  .truncate-fade-dark {
    position: relative;
  }
  .truncate-fade-dark:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20%;
    height: 1.6em;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 1) 10%
    );
  }
}
